body{
    background-color: white;
    font-family: Arial, 'Arial Narrow', sans-serif;
}

input[type = "text"],input[type = "password"], input[type = "email"]{

    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: white;


}
input[type = "text"]:focus,input[type = "password"]:focus, input[type = "email"] :focus{
    border-color: cadetblue;


}

.btnSubmit{
    padding: 15px 30px;
    border-radius: 15px;
    border: 2px solid cadetblue;


}
.btnSubmit:hover{
    background-color: cadetblue;
    border: 2px solid #f1f1f1;
}
.box{
    box-sizing:  border-box;
    display: grid;
    margin-top: 150px;
    place-items: center;


}

.formContainer{
    margin: 300;
    width: 300px;
    padding: 40px;
    background-color: whitesmoke;


    border-radius: 15px;
    border: 2px solid #f1f1f1;

    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);


}


.middle{
    text-align: center;
}

.hiddenMsg{
    display: none;
}

