RewriteEngine On

# Redirigir siempre a HTTPS
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Si la solicitud corresponde a un archivo o directorio existente, no hacer nada
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Reescribir URLs del blog sin la extensión .php
RewriteRule ^blog/([^/]+)/?$ blog/$1.php [L]

# Reescribir URLs de promo sin la extensión .php
RewriteRule ^promo/([^/]+)/?$ promo/$1.php [L]

# Reescribir todas las demás URLs a index.php
RewriteRule ^ index.php [L]


