<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Register Form -MTA</title>
       
        <link rel="stylesheet" href="css/styles.css">

        <!-- <script type="..public/js/submitForm.js"></script>-->

        <script src="../../../public/js/checkForms.js"></script>
    </head>

    <body>
    
        <div class = "box">
            <form id="loginForm" class = "formContainer">

                <h1 class = "middle">Sign Up</h1>
                
                <label>Nombre de Usuario </label>
                <input id = "uname" type = "text" placeholder = "Nombre de usuario" required></input>
                <p id = "mensajeUser" > </p>

                <label>Email </label>
                <input id = "email" type = "email" placeholder = "Email" required></input>
                <p id = "mensajeEmail" > </p>

                <label>Password</label>
                <input id="ogPassword" type = "password" placeholder = "Contraseña" required></input>
                

                <label>Confirmacion Password</label>
                <input id = "confPassword" type = "password" placeholder = "Confirmacion de contraseña" required></input>
                <p id = "mensajePswd" > </p>

                <button id = "thank-you-modal-button" type = "button" onclick = "checkFormRegister()" class = "btnSubmit">Sign Up</button>
                
                
                <p class = "middle">¿Ya tienes Cuenta? <a href = "login.html" > Log In</a></p>
                </form>
        </div>
   
    </body>
</html>